//Hero
.hero {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    padding-top: 40px;
    padding-bottom: 68px;
  }

  &__offer {
    background-image: url("../img/hero-offer-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 59px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    @media screen and (max-width: $breakpoint1220) {
      background-image: url("../img/hero-offer-img-event1024.jpg");
    }

    @media screen and (max-width: $breakpoint992) {
      background-image: url("../img/hero-offer-img-event768.jpg");
    }

    @media screen and (max-width: $breakpoint320) {
      background-image: url("../img/hero-offer-img-event320.jpg");
    }
  }

  &-offer__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $whiteColor;
    margin-bottom: 3px;
  }

  &-offer__title {
    max-width: 427px;
    font-size: 36px;
    line-height: 104%;
    color: $whiteColor;
    margin-bottom: 19px;
  }

  &-offer__btn {
    padding: 16px 22px;
  }

  &-works__title {
    font-size: 24px;
    line-height: 104%;
    color: $mainColor;
    margin-bottom: 19px;
  }

  &-works__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    .card-1 {
      grid-column: 1/-1;
      grid-row: 1;
    }
  }
}

@media screen and (max-width: $breakpoint1220) {
  .hero {
    &__offer {
      padding: 30px;
    }

    &-offer__title {
      font-size: 34px;
    }
  }
}

@media screen and (max-width: $breakpoint992) {
  .hero {
    &-works__title {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: $breakpoint768) {
  .hero {
    &-offer__name {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 10px;
    }

    &-offer__title {
      max-width: 169px;
      font-size: 24px;
      line-height: 110%;
      margin-bottom: 14px;
    }

    &-offer__btn {
      font-size: 14px;
      padding: 12px 22px;
    }

    &-works__title {
      font-size: 18px;
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: $breakpoint480) {
  .hero {
    &__content {
      grid-template-columns: 1fr;
    }

    &__offer {
      padding: 234px 30px 30px 30px;
    }

    &-offer__name {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 10px;
    }

    &-offer__title {
      max-width: 169px;
      font-size: 24px;
      line-height: 110%;
      margin-bottom: 14px;
    }

    &-offer__btn {
      font-size: 14px;
      padding: 12px 22px;
    }

    &-works__title {
      font-size: 18px;
      margin-bottom: 16px;
    }
  }
}
